body {
  font-size: 100%;
}

.wf-notosansjapanese {
  font-family: "Noto Sans JP";
}

.custom-main {
  max-height: calc(100vh - 100px);
  width: 100%;
  padding: 1rem;
}

.d-flex.flex-column.align-items-center > * {
  width: 75%;
  max-width: 960px;
}

p {
  font-size: 1.5rem;
}

th {
  font-size: 1.35rem;
}

td {
  font-size: 1.3rem;
}

select {
  width: 15rem !important;
  height: 4rem !important;
  font-size: 0.9rem !important;
}
